<section>
	<h1>Usuarios</h1>
	<table class="table table-bordered table-hover" style="width: 80%; margin-left: 10%;">
		<thead>
			<tr>
				<th>Rut</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Telefono</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="usuario in vm.usuarios">
				<td> {{ usuario.rut }} </td>
				<td> {{ usuario.nombre }} </td>
				<td> {{ usuario.apellido }} </td>
				<td> {{ usuario.telefono }} </td>
				<td>
					<button class="btn btn-danger">Eliminar</button>
					<!-- <a ui-sref="verPelicula({id: pelicula.id})">ver</a>
					<a ui-sref="">actualizar</a>
					<a ui-sref="">eliminar</a> -->
				</td>
			</tr>
		</tbody>
	</table>
</section>